div#wrapper{
    margin: 5px;
}

h1{
    display: inline-block;
    width: 50%;
    margin-right: 41%;
}

div#top{
    
}

h2{
    display: inline-block;
    width: 50%;
}

div#top > a{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

div#top_left{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: 2px solid black;
}

div#top_right{
    display: inline-block;
}