#wrapper{
    padding: 5px;
}

div#header{
    border-bottom: black solid 2px;
}

h1{
    display: inline-block;
    margin-right: 60%;
}

h3{
    text-align: center;
}

div#reg{
    display:inline-block;
    border: solid black 2px;
    border-collapse: collapse;
    padding: 20px;
    padding-top: 0px;
    margin-left: 10%;
    text-align: center;
}

div#login{
    display: inline-block;
    border: solid black 2px;
    border-collapse: collapse;
    padding: 20px;
    padding-top: 0px;
    margin-left: 25%;
    vertical-align: top;
    text-align: center;
}

#reg_form{
    margin: 5px;
}

#login_form{
    margin: 5px;
}