<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Please tell us your Contact Information</h2>
    <form action="/create_user_contact" method="post">
        {% csrf_token %}
        <p>Name: {{request.session.first_name}} {{request.session.last_name}}</p>
        <p>Birthday <input type="date" name="age"></p>
        <p>Address: <input type="text" name="user_address"></p>
        <p>City and State: <input type="text" name="user_city_state"></p>
        <p>Email: <input type="text" name="user_email"></p>
        <p>Social Media</p>
        <p>Facebook: <input type="text" name="user_facebook"></p>
        <p>Instagram: <input type="text" name="user_instagram"></p>
        <p>Twitter: <input type="text" name="user_twitter"></p>
        <p>Family Members (Name and age): <textarea name="family" cols="30" rows="10" placeholder="EX. Husband - John Doe - 25 Years Old"></textarea></p>
        <p>Phone Number: <input type="text" name="user_phone"></p>
        </br>
        <input type="submit" value="Next">
    </form>
    <a href="/user_info"><button>Back</button></a>
</body>
</html>