<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Church Page</title>
</head>
<body>
<div id="top">
    <h1>Community Church Finder</h1>
    <h2>Church Home Page</h2>
    <a href="/logout">Logout</a>
    <a href="/home_page">Home Page</a>
</div>
<div id="nav">

</div>
    <h3>Here you will be able to interact with other churches in your area.</h3>
    <a href="/church_profile/{{request.session.church_id}}"><button>Go To Profile</button></a>
</body>
</html>