<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find A Service Near You</h1>
    <h3>If you are looking for a church near you, please let us know where you are and we will give you some churches in your local area.</h3>
    <form action="" method="post">
        <p>City: <input type="text" name="city"></p>
        <input type="submit" value="Find My Church">
    </form>
</body>
</html>