<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
<div id="wrapper">
    <div id="top">
        <h1>Community Church Finder</h1>
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit">Search</button>
            </form>
          </div>
        <img id="nav_icons" src="{% static '/bell.png' %}" alt="notifications">
        <img id="nav_icons" src="{% static '/message.png' %}" alt="messages">
        <a href="/user_profile/{{request.session.user_id}}"><img id="nav_icons" src="{% static '/profile.png' %}" alt="profile"></a>
        <a class="profile" href="/user_home_page"><img id="nav_icons" src="{% static '/home.png' %}" alt="profile"></a>
        <a href="/logout">Logout</a>
    </div>
    <h3>Finding a church to call home is one of the hardest and most important decisions you can make. We here at Community Church Finder are here to help you in that process. This site is designed for both churches and families, to be able to find one another and see if they are the right fit.</h3>
    <div id="top_left">
        <h3><a href="/area_churches">Possible Churches in your area</a></h3>
        <!-- {% for churches in all_churches %}
            <a href="/church_profile/{{churches.id}}"><h3>{{churches.church_name}}</h3></a>
            <p>City and State: {{churches.city_state}}</p>
            <p>Website: <a href="https://www.{{churches.website}}">{{churches.website}}</a></p>
           <p>Denomination: {{churches.denomination}}</p>
           <p>Values and Beliefs: {{churches.values}}</p>
           <a href="/delete_church/{{churches.id}}">Delete</a>
        {% endfor %} -->
   
        <h3><a href="/local_people">People in your area</a></h3> 
    </div>
    <div id="top_right">
        <h3>The Wall</h3>
        <form action="/add_message" method="post">
            {% csrf_token %}
        <p id="add_message"><textarea type="text" name="message" placeholder="Add message..."></textarea></p>
        <input id="submit" type="submit" value="Add Message">
        </form>
        {% for messages in all_user_messages %}
        <div id="messages">
                <h3>{{messages.message}}</h3>
                <h5>- <a href="/user_profile/{{messages.user.id}}">{{messages.user.first_name}} {{messages.user.last_name}}</a></h5>
                <!-- <a href="/delete/{{messages.id}}">Delete</a> -->
        </div>
        <div id="comment">
            {% for comment in messages.church_post_comments.all %}
            <p>{{comment.comment}}</p>
            <p>Commented by: <a href="/church_profile/{{comment.church.id}}">{{comment.church.church_name}}{{comment.user.first_name}}</a></p>
            {% endfor %}
            {% for comment in messages.user_post_comments.all %}
            <p>{{comment.comment}}</p>
            <p>Commented by: <a href="/user_profile/{{comment.user.id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a></p>
            {% endfor %}
            <form action="/user_add_comment/{{messages.id}}" method="post">
                {% csrf_token %}
            <p>Comment: <input type="text" name="comment"></p>
            <input type="submit" value="Comment">
            </form>
            
        </div>
        {% if messages.church.id == request.session.church_id %}
        <a href="/delete/{{messages.id}}">Delete</a>
        {% endif %}
        {% endfor %}
        <!--add messages from followed churches and friends-->
        <!--liking capabilities and commenting capabilities-->
        <!--direct messaging capabilities to each person-->
        <!--person/church name is clickable to their specific profile-->
    </div>
</div>
</body>
</html>