{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    {% block content %}
    <h3>Finding a church to call home is one of the hardest and most important decisions you can make. We here at Community Church Finder are here to help you in that process. This site is designed for both churches and families, to be able to find one another and see if they are the right fit.</h3>
    <div id="top_left">
        <h3><a href="/area_churches">Possible Churches in your area</a></h3>

   
        <h3><a href="/local_people">People in your area</a></h3> 
    </div>
    <div id="top_right">
        <h3>The Wall</h3>
        <form action="/add_message" method="post">
            {% csrf_token %}
            <p id="add_message"><textarea type="text" name="message" placeholder="Add message..."></textarea></p>
            <input id="submit" type="submit" value="Add Message">
        </form>
        {% for messages in all_messages %}
        <div id="messages">
            <h3>{{messages.message}}</h3>
            <h5>- <a href="/user_profile/{{messages.user.id}}">{{messages.user.first_name}} {{messages.user.last_name}}</a></h5>
            {% if messages.user.id == request.session.user_id %}
                <a href="/delete/{{messages.id}}">Delete</a>
            {% endif %}
        <div id="comment">
            {% for comment in messages.user_post_comments.all %}
                <p>{{comment.comment}}</p>
                <p>Commented by: <a href="/user_profile/{{comment.user.id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a></p>
                {% if comment.user.id == request.session.user_id %}
                <a href="/delete_comment/{{comment.id}}">Delete</a>
                {% endif %}
                {% endfor %}
            <form action="/user_add_comment/{{messages.id}}" method="post">
                {% csrf_token %}
                <p>Comment: <input type="text" name="comment"></p>
                <input type="submit" value="Comment">
            </form>
        </div>
        {% endfor %}
        
       

        <!--add messages from followed churches and friends-->
        <!--liking capabilities and commenting capabilities-->
        <!--direct messaging capabilities to each person-->
        <!--person/church name is clickable to their specific profile-->
    </div>
{% endblock %}
</body>
</html>