{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    <h3>People in your local area</h3>
    
    {% for user in local_person %}
    {% if user.user_state == one_user.user_state %}
    <p><a href="/user_profile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></p>
        <p>Located in {{user.user_city}}, {{user.user_state}}</p>
    {% endif %}
    {% endfor %}
    
    {% endblock %}
</body>
</html>